@{
    ViewData["Title"] = "Users";
}
@model List<UserDto>

<h1>@ViewData["Title"]</h1>

<p><a asp-action="Create" class="btn btn-success">Registrate new user</a></p>
<div class="col-sm-1">
    <form asp-controller="Users" asp-action="Index">
        <p>
            Name: <input type="text" name="searchString" />
            Page Size: <input type="number" name="pageSize" />
            Page Index: <input type="number" name="pageIndex" />

            <input type="submit" value="Filter" />
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(u => u[0].FirstName)</th>
            <th>@Html.DisplayNameFor(u => u[0].LastName)</th>
            <th>@Html.DisplayNameFor(u => u[0].Phone)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(u => user.FirstName)</td>
                <td>@Html.DisplayFor(u => user.LastName)</td>
                <td>@Html.DisplayFor(u => user.Phone)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-outline-primary">Edit</a>  
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-danger">Delete</a> 
                    <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-outline-success">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>